h1 {
  font-size: 1.2em;
  color: #999;
  text-align: center;
  margin: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

section {
  width: 25em;
}

header form {
  padding: 0.5em;
  border: solid grey 1px;
}
header input {
  border: none;
  width: 100%;
}

footer {
  border: solid grey 1px;
  padding: .5em;
}
footer * {
  display:inline;
}

footer span {
  float: left;
  margin-right: 1em;
}

nav a {
  margin: 0;
  padding: 3px;
  text-decoration: none;
  background-color: #eee;
  border: solid black 1px;
  border-radius: 2px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

footer button {
  margin: 0;
  border: none;
  background: none;
  display: float;
  float: right;
}
