.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.tasks {
  margin: 0;
  list-style-type: none;
  padding: 0;
  border: solid grey 1px;
}
.tasks li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: 0;
}

.tasks li + li {
  border-top: solid grey 1px;
}

.tasks li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.tasks li:hover {
  color: #039be5;
  background-color: #DDD;
}

.tasks button.delete {
  float: right;
  color: black;
}
.tasks button.delete:hover {
  color: red;
}
